@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>This project is using ASP.NET Core to rewrite my RMIT 2013 WDT course assignment. </br>
This project helps me to recall my ASP.NET knowledges and skills, and it going to lead me to get into ASP.NET Core</p>


