@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>Nan Li</h3>

<address>
    Melbourne<br />
    Victoria, Australia<br />
    <abbr title="Phone">P:</abbr>
    0400000000
</address>

<address>
    <strong>Email:</strong> <a href="mailto:dreamli1121@gmail.com">dreamli1121@gmail.com</a><br />
    
</address>
