@{
    ViewData["Title"] = "Home Page";
}


<!--a slider for -->
<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
    </ol>

    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/Tax-GetSorted-cmp-hero-DesktopStandard.jpg" alt="ASP.NET" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p style="margin-left: -50%;">
                    GET YOUR TAX </br>
                    SORTED WITH NETBANK.
                    
                </p>
            </div>
        </div>
        
        <div class="item">
            <img src="~/images/cb-hp-save-time-hero-desktop.jpg" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p style="margin-left: -50%;">
                    SAVE TIME.</br>
                    BANK ON THE GO.
                </p>
            </div>
        </div>

    </div><!--end of list box-->
    <!--button for slider-->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>


<div class="row">
    <div class="col-md-12">
        <h2>Welcome to my Virtual Bank</h2>
        <ul>
            <li>This project using ASP.NET Core MVC</li>
            <li>Gulp and Bower for managing client-side libraries</li>
            <li>Theming using Bootstrap</li>
        </ul>
    </div>
    
</div>
